

.topo{
    position: absolute;
    top: 0;
    width: 100%;
}

.topo h1{
    margin-top: 60px;
    text-align: center;  
    font-size: 4vw;
}
.topo h3{
    font-weight: normal;
    text-align: center;  
    font-size: 2vw;
}

.btn-login {
    margin-top: 30px;
    margin: 20px;
    padding: 1vw 2vw;

    font-size: 18px;    
    font-weight: 500;
    color: #fff;

    background: linear-gradient(
        135deg,
        #007bff,
        #00bfff
    );

    border: none;
    border-radius: 30px;

    cursor: pointer;

    box-shadow:
        0 0 15px rgba(0, 123, 255, 0.6),
        0 0 30px rgba(0, 191, 255, 0.4);

    transition: all 0.3s ease;
}

/* Hover */
.btn-login:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 25px rgba(0, 123, 255, 0.9),
        0 0 45px rgba(0, 191, 255, 0.7);
}

/* Clique */
.btn-login:active {
    transform: scale(0.96);
}



@media(max-width: 768px){
    .topo h1{
        font-size: 10vw;
    }
    .btn-login{
        margin-top: 0px;
        padding: 5vw 6vw;
  


    }
}