<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">        
    <link rel="stylesheet" href="{{ url_for('static', filename='Homepage/style_homepage.css') }}">        

</head>
<body>
    <div class="topo">
        <h1>ADT</h1>
        <h3>O melhor auxiliar de trader</h3>
    </div>
    
    <form action="{{ url_for('login') }}" method="get">
    <button type="submit" class="btn-login">login</button>
   
    <form action="{{ url_for('entrar') }}" method="get">
    <button type="submit" class="btn-login">entrar</button>
    </form>
    </form>

</body>
</html>